<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Appointments</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <h5>My appointments</h5>
                    <a class="btn btn-primary mb-3" th:href="@{/appointments/create}">Create new appointment</a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..."/>
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                    </div>

                    <div th:if="${appointments.isEmpty()}">You do not have any appointments at the moment.</div>

                    <table class="table" th:if="${!appointments.isEmpty()}">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Patient's name</th>
                            <th>Time</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="appointment : ${appointments}">
                            <td th:text="${appointment.title}"></td>
                            <td th:text="${appointment.description}"></td>
                            <td th:text="${appointment.patientName}"></td>
                            <td th:text="${appointment.time}"></td>
                            <td th:text="${appointment.location}"></td>
                            <td><a href="#" th:href="@{/appointments/update/}+${appointment.id}"><i class="material-icons">mode_edit</i></a>
                                <a href="#" th:href="@{/appointments/delete/}+${appointment.id}"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>