<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Appointments</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="col-md-8 col-md-offset-2 mt-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${appointment.title}"></h5>
                <div class="form-group">
                    <strong><p>Description:</p></strong>
                    <p th:text="${appointment.description}"></p>
                </div>
                <div class="form-group">
                    <strong><p>Date and time:</p></strong>
                    <p th:text="${appointment.time}"></p>
                </div>
                <div class="form-group">
                    <strong><p>Location:</p></strong>
                    <p th:text="${appointment.location}"></p>
                </div>
                <div class="form-group">
                    <strong><p>Patient's name:</p></strong>
                    <p th:text="${appointment.patientName}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>